.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

*.iml
*.ipr
*.iws
.idea/

.vscode/

android/local.properties
android/key.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/config/firebase_options.dart

.DS_Store
